@page
@model GymIndexModel
@{
    ViewData["Title"] = "Sporto salė";
}

<div class="text-center">
    <h1 class="display-4">SPORTO SALĖS PRADINIS PUSLAPIS</h1>
    <a class="text-dark" asp-area="" asp-page="./GymTimeList">Pirmadienio sporto salės laikų sąrašas</a>
</div>
@if(Model.Trainers != null && Model.Trainers.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>FirstName</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var trainer in Model.Trainers)
            {
                <tr>
                    <td>@trainer.id_Treneris</td>
                    <td>@trainer.trenerio_pavarde</td>
                    <td>@trainer.trenerio_pavarde</td>
                    <td>ID</td>

                </tr>
            }
        </tbody>
    </table>
}
else{
    <br />
    <p>No data</p>
}