@page
@model ViesbucioPuslapis.Pages.GymRezervationViewModel
@{
    ViewData["Title"] = "Treniruočių rezervacija";
}
<a class="text-dark" asp-area="" asp-page="/GymTimeList">Grįžti atgal</a>
<table class="gym-list" style="border-color:black; border-style: solid;">
    <tr>
        <th>Trenerio vardas</th>
        <th>Trenerio pavarde</th>
    </tr>
    <tr>
        <td>B</td>
        <td>B</td>
    </tr>
    <tr>
        <td>C</td>
        <td>C</td>
    </tr>
    <tr>
        <td>D</td>
        <td>D</td>
    </tr>
</table>