@page
@model GymTimeListModel
@{
    ViewData["Title"] = "Treniruočių laikų sąrašas";
}
<h1>@ViewData["Title"]</h1>
<p>Jusu rezervacijos: </p>
<table class="table">
    <tr>
        <th>Laikas nuo iki</th>
        <th>Treneris</th>
    </tr>
    <tr>
        <td>B</td>
        <td>B</td>
        <td><a class="text-dark" asp-area="" asp-page="./GymEditRezervationView">Redaguoti</a><a href="#" onclick="return confirm('Ar tikrai norite atšaukti rezervaciją?');">Atšaukti</a></td>
    </tr>
    <tr>
        <td>C</td>
        <td>C</td>
        <td><a class="text-dark" asp-area="" asp-page="./GymEditRezervationView">Redaguoti</a><a href="#" onclick="return confirm('Ar tikrai norite atšaukti rezervaciją?');">Atšaukti</a></td>
    </tr>
    <tr>
        <td>D</td>
        <td>D</td>
        <td><a class="text-dark" asp-area="" asp-page="./GymEditRezervationView">Redaguoti</a><a href="#" onclick="return confirm('Ar tikrai norite atšaukti rezervaciją?');">Atšaukti</a></td>
    </tr>
</table>
<br />
<p>Galimos rezervacijos: </p>
<table class="table">
    <tr>
        <th>Laikas nuo iki</th>
        <th>Laisvos vietos</th>
        <th>Is viso vietos</th>
    </tr>
    <tr>
        <td>B</td>
        <td>B</td>
        <td>B</td>
        <td><a class="text-dark" asp-area="" asp-page="./GymRezervationView">Rezervuoti</a></td>
    </tr>
    <tr>
        <td>C</td>
        <td>C</td>
        <td>C</td>
        <td><a class="text-dark" asp-area="" asp-page="./GymRezervationView">Rezervuoti</a></td>

    </tr>
    <tr>
        <td>D</td>
        <td>D</td>
        <td>D</td>
        <td><a class="text-dark" asp-area="" asp-page="./GymRezervationView">Rezervuoti</a></td>
    </tr>
</table>
