@page
@model ViesbucioPuslapis.Pages.ClientSystem.LogoutModel

@{
    ViewData["Title"] = "Atsijungti";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <button type="submit" class="btn btn-primary">Atsijungti</button>
</form>
