@page
@model ViesbucioPuslapis.Pages.ClientSystem.SubmitReviewModel
@{
}

<div class="text-center">
    @if (Model.IsReviewSubmitted)
    {
        <h1 class="display-4">Sėkmingai palikote atsiliepimą!</h1>
        <div class="success-animation">

        </div>
        <div class="text-center">
            <a class="text-dark" asp-area="" asp-page="/Index">Grįžti į pradžią</a>
        </div>
    }
    else
    {
        <h1 class="display-4">Palikite atsiliepimą</h1>
        <!-- Čia įterpkite jūsų atsiliepimo pateikimo formos HTML -->
    }
</div>
