@page
@model ViesbucioPuslapis.Pages.RoomSystem.CancelParkingReservationModel
@{
    ViewData["Title"] = "Pašalinimas";
}

<div class="text-center">
    <h1 class="display-4">Ar tikrai norite pašalinti rezervaciją?</h1>
    <form id="deleteReservation" method="post" role="form">
        <button class="btn btn-danger" type="submit" name="resid">
            Taip, pašalinti
        </button>
    </form>
    <br>
    <a class="text-dark" asp-area="" asp-page="/ParkingSystem/ParkingReservationView">Grįžti</a>
</div>
