@page
@model ViesbucioPuslapis.Pages.GymEditRezervationViewModel
@{
    ViewData["Title"] = "Treniruočių rezervacijos redagavimas";
}
<a class="text-dark" asp-area="" asp-page="/GymTimeList">Grįžti atgal</a>

