@page
@model IndexModel
@{
    ViewData["Title"] = "Pagrindinis";
}

@*<div class="text-center">
    <h1 class="display-4">Pagrindinis</h1>
</div>*@

<h1>Viešbučio sistema</h1>

<p>Viešbučio sistema, kuria naudojantis galite užsirezervuoti kambarį bei kitus patogumus.</p>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<!-- Add the following line to display an image and center it -->
@*<div class="text-center">
    <img src="/Images/hotel.jpg" style="display: block; margin: 0 auto;">
</div>*@

<!-- You can adjust the 'alt' attribute to provide alternative text for accessibility -->
