@page
@model IndexModel
@{
    ViewData["Title"] = "Pagrindinis";
}

<div class="text-center">
    <h1 class="display-4">Pagrindinis</h1>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}