@page
@model PrivacyModel
@{
    ViewData["Title"] = "Viešbučio sistema";
}
<h1>@ViewData["Title"]</h1>

<p>Viešbučio sistema, kuria naudojantis galite užsirezervuoti kambarį bei kitus patogumus.</p>
<p>Šį projektą atliko Nojus Šostakas, Adomas Kairys, Rūta Gečytė, Matas Palujanskas.</p>

