@page
@model ViesbucioPuslapis.Pages.RoomSystem.BusinessRoomTypeModel
@{
    ViewData["Title"] = "Verslo klasė";
}

<div class="text-center">
    <h1 class="display-4">Verslo klasė</h1>
    <p> Aprašas </p>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/ReserveRoomBusiness">Rezervuoti šio tipo kambarį</a> <br>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/RoomTypes">Grįžti</a>
</div>
