@page
@model ViesbucioPuslapis.Pages.RoomSystem.EconomicRoomTypeModel
@{
    ViewData["Title"] = "Ekonominė klasė";
}

<div class="text-center">
    <h1 class="display-4">Ekonominė klasė</h1>
    <p> Aprašas </p>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/ReserveRoomEconomic">Rezervuoti šio tipo kambarį</a><br>
    <a class="text-dark" asp-area="" asp-page="/ClientSystem/RoomReviews">Skaityti atsiliepimus apie šios klasės kambarius</a> <br>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/RoomTypes">Grįžti</a>
</div>