@page
@model ViesbucioPuslapis.Pages.RoomSystem.OwnedReservationModel
@{
    ViewData["Title"] = "Jūsų rezervacija";
}

<div class="text-center">
    <h1 class="display-4">Jūsų rezervacija</h1>
</div>
