@page
@model ViesbucioPuslapis.Pages.RoomSystem.OwnedReservationModel
@{
    ViewData["Title"] = "Jūsų rezervacija";
}

<div class="text-center">
    <h1 class="display-4">Jūsų rezervacija</h1>
</div>

<div class="text-center">
<h1 class="display-4"></h1>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/ReservationRemovalVerification">Atšaukti rezervaciją</a>
    <a class="text-dark" asp-area="" asp-page="/ClientSystem/LeaveRoomReview">Palikti atsiliepimą apie kambarį</a>
<br>
</div>
