@page
@model ViesbucioPuslapis.Pages.RoomSystem.PresidentialSuiteTypeModel
@{
    ViewData["Title"] = "Prezitentinis numeris";
}

<div class="text-center">
    <h1 class="display-4">Prezidentinis numeris</h1>
    <p> Aprašas </p>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/ReserveRoomPresidential">Rezervuoti šio tipo kambarį</a><br>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/RoomTypes">Grįžti</a>
</div>
