@page
@model ViesbucioPuslapis.Pages.RoomSystem.ReserveRoomModel
@{
    ViewData["Title"] = "Kambario rezervacija";
}

<div class="text-center">
    <h1 class="display-4">Kambario rezervacija</h1>

</div>

<div class="text-center">
    <h1 class="display-4"></h1>
    <a class="text-dark" asp-area="" asp-page="/ClientSystem/ReservationPayment">Atlikti mokėjimą</a>
    <br>
</div>