@page
@model ViesbucioPuslapis.Pages.RoomSystem.ReserveRoomModel
@{
    ViewData["Title"] = "Kambario rezervacija";
}

<div class="text-center">
    <h1 class="display-4">Kambario rezervacija</h1>

</div>
