@page
@model ViesbucioPuslapis.Pages.RoomSystem.ReservationRemovalVerificationModel
@{
    ViewData["Title"] = "Pašalinimas";
}

<div class="text-center">
    <h1 class="display-4">Ar tikrai norite pašalinti rezervaciją?</h1>
    <a class="text-dark" asp-area="" asp-page="/Index" asp-action="DeleteReservation">Taip, pašalinti</a> <br> @* need reservation id? *@
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/OwnedReservation">Grįžti</a>
</div>
