@page
@model ViesbucioPuslapis.Pages.RoomSystem.RoomTypesModel
@{
    ViewData["Title"] = "Kambarių tipai";
}

<div class="text-center">
    <h1 class="display-4">Kambarių tipai</h1>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/EconomicRoomType">Ekonominė klasė</a><br>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/BusinessRoomType">Verslo klasė</a><br>
    <a class="text-dark" asp-area="" asp-page="/RoomSystem/PresidentialSuiteType">Prezidentinis numeris</a>
</div>
