@page
@model ViesbucioPuslapis.Pages.RoomSystem.RoomTypeModel
@{
    ViewData["Title"] = Model.roomType;
}

<script>
    function updateEndDateMin() {
        var startDateInput = document.getElementById('start');
        var endDateInput = document.getElementById('end');

        var selectedStartDate = new Date(startDateInput.value);
        var nextDay = new Date(selectedStartDate);
        nextDay.setDate(selectedStartDate.getDate() + 1);

        // Format as YYYY-MM-DD
        var formattedNextDay = nextDay.toISOString().split('T')[0];

        endDateInput.min = formattedNextDay;
    }
</script>

<div class="row align-content-start">
    <div class="col-md-2">
        <a class="btn btn-danger" asp-page="/RoomSystem/RoomTypes" role="button">Grįžti</a>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">@Model.roomType</h1>
    <br>

    <form method="POST">
        <div class="align-content-center">
            <div>
                <label for="start">Rezervacijos pradžia:</label>
                <input id="start" name="start" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="updateEndDateMin()" required>
            </div>

            <br>

            <div>
                <label for="end">Revervacijos pabaiga:</label>
                <input type="date" id="end" name="end" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
            </div>

            <br>

            <input type="hidden" id="roomid" name="roomid" value="@Model.roomId">
            <div>
                <input class="btn btn-success" type="submit" value="Rodyti laisvus kambarius">
            </div>

            <br>
        </div>
    </form>
    <br>
    
</div>