@page
@model ViesbucioPuslapis.Pages.RoomSystem.RoomTypesModel
@{
    ViewData["Title"] = "Kambarių tipai";
}

<div class="text-center" id="roomtype">
    <h1 class="display-4">Kambarių tipai</h1>
    <br>
    @if (Model.roomTypes != null && Model.roomTypes.Count > 0)
    {
        <table class="table table-hover table-borderless">
        @foreach (var type in Model.roomTypes)
        {
            <tr>
                    <td><a class="text-dark" style="font-size: 30px; text-decoration:none" asp-area="" asp-page="/RoomSystem/RoomType" asp-route-roomid="@type.id_Kambario_tipas">@type.name</a></td>
            </tr>
        }
        </table>
    }
    else
    {
        <p>No data</p>
    }
</div>